[Unit]
Description=CM4 V3Link Camera Control Tool
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
Type=simple
User=cm4
Group=cm4
WorkingDirectory=/home/cm4/cm4-v3link
ExecStart=/home/cm4/cm4-v3link/.venv/bin/python -m cm4_v3link
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
